@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
* {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	
}

body {
	
	height: 100%;
	
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(to top, #99c2ff, #80b3ff, #0066ff);
	
}


.header {
	
	width: auto;
	height: 60px;
	background-color: transparent;
	box-shadow: 0px 0px 0px;
	text-align: center;
	color: black;
	padding: 10px;
}

#buttomheader {
	
	width: auto;
	height: 30px;
	background-color: grey;	
	padding: 0px;
	
}

.info {
	width: 100%;
}

.info h2{
	font-size: 50px;
	padding: 30px 30px 20px	
		/* First 30px(From the top) Second 30px(From the left and right side) Third 30px(From the bottom)*/
	
	
}

.info p{
	font-size: 16px;
	padding: 0px 30px 20px
		/* First 0px(From the top) Second 30px(From the left and right side) Third 30px(From the bottom)*/
		
}

.Happy_Alex {
	
	
}



.container1 {
	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	min-height: 30px;
}

.btn-1 {
	width: 150px;
	height: 30px;
	border: none;
	color: white;
	background-color: grey;
	border-radius: 2px;
	box-shadow: inset 0 0 0 0 white;
	transition: ease-out 0.3s;
	font-size: 1.2rem;
	/* rem mean 16px, so if 2rem = 16*2 = 32px */
	outline: none; 
	position: relative;
	z-index: 1;
	
	
}

	.btn-1:hover {
		color: black;
		cursor: pointer;
		
		
	}

.btn-1:before {
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0%;
	opacity: 0;
	content: "";
	background-color: white;
	
}

.btn-1:hover:before {
		transition: 0.5 all ease;
		left: 0;
		right: 0;
		opacity: 1;
		z-index: -1;
	}

.btn-2 {
	width: 150px;
	height: 30px;
	border: none;
	color: white;
	background-color: grey;
	border-radius: 2px;
	box-shadow: inset 0 0 0 0 white;
	transition: ease-out 0.3s;
	font-size: 1.2rem;
	/* rem mean 16px, so if 2rem = 16*2 = 32px */
	outline: none; 
	position: relative;
	z-index: 1;

}

.btn-2:hover {
		color: black;
		cursor: pointer;
		
		
	}

.btn-2:before {
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0%;
	opacity: 0;
	content: "";
	background-color: white;

	 }

	.btn-2:hover:before {
		transition: 0.5 all ease;
		left: 0;
		right: 0;
		opacity: 1;
		z-index: -1;
						}


.container2 {
	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	min-height: 30px;
}

.btn-3 {
	width: 150px;
	height: 30px;
	border: none;
	color: white;
	background-color: grey;
	border-radius: 2px;
	box-shadow: inset 0 0 0 0 white;
	transition: ease-out 0.3s;
	font-size: 1.2rem;
	/* rem mean 16px, so if 2rem = 16*2 = 32px */
	outline: none; 
	position: relative;
	z-index: 1;

}

.btn-3:hover {
		color: black;
		cursor: pointer;
		
		
	}

.btn-3:before {
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0%;
	opacity: 0;
	content: "";
	background-color: white;

	 }

	.btn-3:hover:before {
		transition: 0.5 all ease;
		left: 0;
		right: 0;
		opacity: 1;
		z-index: -1;
						}

.sunset-blender{
	width: 500px;
	height: 220px;
	margin: 50px;
	background-image: url("Images/Sunset_with_bloom.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */
	
	
}

.Shiny_moon {
	
	width: 500px;
	height: 220px;
	margin: 50px;
	background-image: url("Images/Shiny_Moon.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}

.Donut_look_at_this_photo {
	
	width: 500px;
	height: 370px;
	magrin: 50px;
	background-image: url("Images/Donut _look_at_this_photo.JPG");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}

.First_canyon_ever {
	
	width: 500px;
	height: 300px;
	margin: 50px;
	background-image: url("Images/First_canyon_ever.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}

.First_canyon_ever_with_water {
	
	width: 500px;
	height: 300px;
	margin: 50px;
	background-image: url("Images/First_canyon_with_water.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}

.Landscaping_with_basser_bad_skies {
	width: 500px;
	height: 300px;
	margin: 50px;
	background-image: url("Images/Landscaping_with_basser_bad_skies.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}

.Landscaping_with_basser {
	width: 500px;
	height: 300px;
	margin: 50px;
	background-image: url("Images/Landscaping_with_basser.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}

.Almost_heaven {
	width: 500px;
	height: 300px;
	margin: 50px;
	background-image: url("Images/Almost_heaven.png");
	background-size: 100%;
	/* Background-size is used to fill the box set with the values; 500px and 300px. */
	background-repeat: no-repeat;
	/* Prevents picture from multiplying upon changing the precentage of background-size */

}